.button-container {
  flex: 1;
  padding: 6px;
  font-size: 14px;
  cursor: pointer;
  color: var(--black);
  font-weight: bold;
  user-select: none;
}

.button-container:hover {
  color: var(--primary);
}
