.topbar-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    background-color: var(--background);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 2px;
    align-items: center;
}

.topbar-delimiter {
    width: 1px;
    background: whitesmoke;
    height: 20px;
}